<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UTN API</title>
    <style>
        * {
            font-family: monospace;
            font-size: large;

        }

        .test {
            font-size: x-large;
            font-weight: 500;
        }

    </style>
</head>

<body>
    <!-- 
    <label> Enter the date
        <input type="date" id="start" name="trip-start" value="2022-01-01" min="2022-01-01" max="2023-12-31">
        <button> Submit </button>
    </label>
    -->
    <h3 class="test">
        The uri '/activity' and '/holiday' , indicates the next event closest to the current date</h3>

    <h3> GET/ nextActivity : utn-api.herokuapp.com/activity <br>
        GET/ nextHoliday : utn-api.herokuapp.com/holiday<br>
        GET/ currentEvent : utn-api.herokuapp.com/current
    </h3>

    <h3 class="test"> The uri '/current' only indicates the activity or holiday on that date <br></h3>
    <br><br>
    <h3 class="test"> All methods can receive date param like the next example </h3>
    <h3> GET/ utn-api.herokuapp.com/activity?date=05/05/2022</h3>


</body>

</html>
